<h2>Indiquer les coordonnées x et y pour placer l'élément choisi</h2>
<form action="jouer" method="get">
    <input 
        type="number" 
        name="x" 
        placeholder="y" 
        min="0" 
        max="{{ SESSION['longueur'] - 1 }}">
    
    <input 
        type="number" 
        name="y" 
        placeholder="x" 
        min="0" 
        max="{{ SESSION['hauteur'] - 1 }}">
    
    <button type="submit">Valider la sélection</button>
</form>



</br>
</br>
<table>
    {% if GET["longueur_grille"] and GET["hauteur_grille"] or SESSION["bool_grille"] == True %} 
        {% for i in range(SESSION["hauteur"]) %}
            <tr>
                {% for j in range(SESSION["longueur"]) %}
                    {% if SESSION["grille"][i][j] == SESSION["case"] %}
                        <td class="blue"></td>
                    {% endif %}
                    {% if SESSION["grille"][i][j] == SESSION["cible"] %}
                        <td class="yellow"></td>
                    {% endif %}
                    {% if SESSION["grille"][i][j] != SESSION["cible"] and SESSION["grille"][i][j] != SESSION["case"] %}
                        <td class="black"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
</table>

<form action="jouer" method="get">
  <p>Voulez-vous quitter la partie en cours ?</p>
  <button type="submit" name="quitter" value="confirmer">Confirmer</button>
</form>