<h2>Indiquer les coordonnées x et y pour placer l'élément choisi</h2>
<form action="jouer" method="get">
    <input 
        type="number" 
        name="x" 
        placeholder="y" 
        min="0" 
        max="{{ SESSION['hauteur'] - 1 }}">
    
    <input 
        type="number" 
        name="y" 
        placeholder="x" 
        min="0" 
        max="{{ SESSION['longueur'] - 1 }}">
    
    <button type="submit">Valider la sélection</button>
</form>
</br>
</br>
<h2>Ou Choisissez de déffausser</h2>
<form method="get" action="jouer">
    <input type="hidden" name="x" value="21">
    <input type="hidden" name="y" value="21">
    <button type="submit" name="action" value="defausser">Défausser</button>
</form>
</br>
</br>

<table>
    {% if GET["longueur_grille"] and GET["hauteur_grille"] or SESSION["bool_grille"] == True %} 
        {% for i in range(SESSION["hauteur"]) %}
            <tr>
                {% for j in range(SESSION["longueur"]) %}
                    {% if  SESSION["grille_piece"][i][j][0]==-1 or SESSION["grille_piece"][i][j][0]==-2 %}
                        <td style="background-color: {{ SESSION["grille_piece"][i][j][1] }};"></td>
                    {%else%}
                    <td style="background-color: {{ SESSION["grille_piece"][i][j][1] }}; text-align: center; vertical-align: middle;">
                        {{ SESSION["grille_piece"][i][j][0] }}
                    </td>
                    {% endif %} 
                {% endfor %}
                  
            </tr>
        {% endfor %}
    {% endif %}
</table>
<form action="jouer" method="get">
  <p>Voulez-vous quitter la partie en cours ?</p>
  <button type="submit" name="quitter" value="confirmer">Confirmer</button>
</form>