<h2>Pioche une brique</h2>
<form action="jouer" method="get">
    {% for brique in SESSION["pioche"] %}
    <h2>nouvelle brique </h2>    
    <div class="brique">
            <input type="radio" name="brique_id" value="{{ brique[0] }}" required>
            <label>
                <strong>Brique {{ brique[0] }}</strong><br>
                Longueur : {{ brique[1] }}<br>
                Largeur : {{ brique[2] }}<br>
                Couleur : {{ brique[4] }}
            </label>
        </div>
    {% endfor %}
    <button type-="submit">Sélectionner cette brique</button> 
</form>
{% if GET["brique_id"] %}
    <p>Valeur reçue par GET : {{
        GET["brique_id"][0] }}</p>
{% endif %}
